.main-template {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;

  .legend {
    display: flex;
    flex-flow: row nowrap;
  }

  .game {
    display: flex;
  }

  .social {
    display: flex;
    flex-flow: column;
  }
}
